body {
  background: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  height: 450px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-body {
  padding: 16px;
}

.title {
  font-size: 18px;
  margin: 0;
}

.brand {
  color: #888;
  font-size: 14px;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  color: #555;
  margin-bottom: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price-section {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #e91e63;
}

.old-price {
  text-decoration: line-through;
  color: #999;
}

.discount {
  color: green;
  font-size: 14px;
}

.meta {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 12px;
}

.btn {
  width: 100%;
  padding: 10px;
  background: #e91e63;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #c2185b;
}